
@page
@model lab7.Pages.IndexModel

<h1>Из градусов Цельсия в градусы Фаренгейта</h1>

<form method="post">
    <label for="fahrenheit">Фаренгейт:</label>
    <input type="text" id="fahrenheit" name="fahrenheit" />

    <input type="submit" value="Перевести в градусы Цельсия" />
</form>

@if (Model.Result != null)
{
    <h2>Результат:</h2>
    <p>Цельсий: @Model.Result</p>
}

